@import "null.css";


@import url("https://fonts.googleapis.com/css?family=Raleway:500,700,900");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900");

body{
	background: url("../img/shattered-island.gif") 0 0 / auto repeat;
}
.wrapper {
	max-width: 1440px;
	margin: 0px auto;
	min-height: 100%;
	overflow: hidden;
	
}
.game {
	min-height: 650px;
	margin-top: 30px;
}
.game__line{
	background-color: darkmagenta;
}



